* {
	margin : 0;
	padding : 0;
	font-family: Helvetica, Arial, Sans-Serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body, html {
	height: 100%;
	line-height: 1.6;
	background: #f0f0f0;
	font-size:110%;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

table {
	width: 100%;
}

table tr td {
	width: auto;
}

.hide {
	display: none;
}

.wrap {
	position: relative;
	width: 100%;
	min-height: 100%;
}

.btn {
	border: 1px solid #3CB371;
	width: 100%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #228B22;
	font-size:110%;
}

.btn:hover {
	background: #eee;
	color: #3CB371;
	text-align: center;
}

.btn-little {
	width: 20% !important;
}

.btn-red {
	background: #DC143C;
	border: 1px solid #ff6666;
}
.btn-red:hover {
	color: #ff3333;
}

.disabled {
	display: none;
}

.link {
	color: #3CB371;
	cursor: pointer;
	margin-bottom: 10px;
}

.alert {
	position: relative;
	width: 100%;
	height: 70px;
	background: #DC143C;
	font-size: 18px;
	color: #fff;
	line-height: 70px;
	z-index: 16;
	text-align: center;
	margin: 0 auto 10px auto;
}

.success {
	position: relative;
	width: 100%;
	height: 70px;
	background: #228B22;
	font-size: 18px;
	color: #fff;
	line-height: 70px;
	z-index: 16;
	text-align: center;
	margin: 0 auto 10px auto;
}

/* --- HEADER --- */
.header {
	position: static;
	width: 100%;
	height: 70px;
	background: #222;
	line-height: 70px;
	z-index: 16;
}

.hello {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.nav {
	width: 100%;
	position: relative;
}

.nav .logo{
	display: block;
	height: 70px;
	width: 25%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase; 
	float: left;
	padding: 0 25px;
}

.menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.menu a{
	color: #fff;
	font-size: 14px;
	display: inline-block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	padding-right: 15px;
}

/* --- FORGET --- */
.forget_password {
	padding: 10px 10px 20px 10px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #efefef;
	margin: 20px 10px;
}
.forget_password label {
	width: 100%;
	display: block;
	margin-bottom: 20px; 
}

.forget_password input {
	width: 100%;
	display: block;
	padding: 5px;
	text-align: center;
	margin-bottom: 20px; 
}

.forget_password .btn {
	width: 320px;
	display: block;
	margin: 0 auto;
}

/* --- Change password ---*/
.change_password, .edit_img {
	margin: 20px;
	padding: 10px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #efefef;
}

/* --- Content --- */

.content {
	padding: 10px;
	padding-bottom: 70px;
}

.presentation {
	padding: 10px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #efefef;
}

.information {
	padding: 10px;
}

.choice {
	text-align: center;
}

.connexion, .inscription {
	background: #fff;
	height: auto;
	margin: 10px auto;
	border: 1px solid #efefef;
	padding: 20px;
}

.title {
	width: auto;
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
}
/* --- GALLERY --- */
.gallery {
	background: #fff;
	height: auto;
	margin: 20px;
	border: 1px solid #efefef;
	padding: 20px;
}

.gallery .image {
	display: block;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	width: 100%;
	margin: 0 0 20px 0;
}
.gallery .image img {
	width: 100%;
}


.gallery .image .author:before {
	content: "By: "
}

.gallery .image .author {
	position: absolute;
	right: 10px;
	bottom: 0;
	text-align: right;
	font-style: italic;
}

/* --- FORM --- */
.form {
	width: auto;
	position: relative;
}

.form .form-input, .form .form-input {
	width: 100%;
}
.form .form-input .input-name {
	text-align: center;
	font-weight: bold;
}
.form .form-input .input input, .form .form-input .textarea textarea {
	border: 1px solid #dbdbdb;
	width: 100%;
	padding: 5px;
	margin: 10px auto;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #3CB371;
	background: #eee;
	font-size: 16px;
}

/* --- VIDEO --- */
.video {
	background: #fff;
	height: auto;
	margin: 20px;
	border: 1px solid #efefef;
	padding: 20px;
}

.video .camera {
	display: block;
	width: 320px;
	height: 240px;
	position: relative;
	margin: 0 auto 20px auto;
}

.video .overlay {
	padding: 100%;
	position: absolute;
}
.filter_video {
	background: #fff;
	height: auto;
	margin: 20px;
	border: 1px solid #efefef;
	padding: 20px;
	text-align: center;
}

.filter_video select {
	padding: 5px;
	width: 60%;
}

.filter_video .label {
	text-align: center;
	width: 100%;
}

.filter_video .background {
	width: 320px;
	height: 250px;
	display: block;
	margin: 0 auto;
	overflow-y: scroll;
}
.filter_video .background img {
	width: 160px;
	height: 120px;
	border: 1px solid #222;
	cursor: pointer;
}

.filter_video .background img.selected {
	border: 3px solid green;
}

.video video {
	display: block;
	margin: 0 auto;
	object-fit: cover;
}

#select_filter {
	display: none;
	position: absolute;
	top: 0;
	z-index: 55;
}
#select_filter_file {
	display: none;
	position: absolute;
	top: 0;
	z-index: 55;
}

/* --- PUT FILE --- */
.put_file, .profil {
	position: relative;
	background: #fff;
	height: auto;
	margin: 20px;
	border: 1px solid #efefef;
	padding: 20px;
}

#put_file { display: none !important; }

.put_file form input.input-file {
	position: relative;
	display: block;
	width: 320px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.put_file form img#overlay_img {
	display: block;
	margin: 0 auto;
	width: 320px;
	height: 240px;
	margin-bottom: 20px;
	background: #eee;
	border: 1px solid #eee; 
	position: relative;
}

.put_file form img#overlay_img:after {
	content: 'Preview image selected';
	display: block;
	position: absolute;
	top : 15px;
	left : 15px;
}

.put_file .btn {
	width: 320px;
	display: block;
	margin: 0 auto;
}

/* --- SNAPSHOT --- */
.snapshot {
	background: #fff;
	min-height: 240px;
	margin: 20px;
	border: 1px solid #efefef;
	padding: 20px;
}
.snapshot canvas {
	width: 320px;
	height: 240px;
	display: block;
	margin: 0 auto;
	object-fit: cover;
}
.snapshot h2 {
	text-align: center;
}

.snapshot .pictures {
	position: relative;
	display: block;
	margin-bottom: 15px;
}

#delete_img {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	color: #fff;
	background: #DC143C;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

/* --- BTN VIDEO--- */
.overlay-btn {
	display: block;
	max-width: 400px;
	margin: 0 auto;
	height: 70px;
}
.btn-video:first-child {
	margin-left: 0;
}
.btn-video {
	width: 50px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
}

/* --- PROFILE --- */
.profil {
	position: relative;
	background: #fff;
	height: auto;
	margin: 20px;
	border: 1px solid #efefef;
	padding: 20px;
}


/* --- USER COMMENT --- */
.user_comment {
	padding: 10px;
	border: 1px solid #e0e0e0;
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	border-radius: 5px;
}

.user_comment .author {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

.user_comment .date {
	font-style: italic;
	font-size: 12px;
	text-align: right;
}

.user_comment .delete_comment {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	color: #fff;
	background: #DC143C;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

/* --- FOOTER --- */
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	background: #222;
}